* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hero {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

.hero img {
  margin-top: 6vw;
  border: solid 3px black;
  margin-bottom: 5px;
}

.hero-content button {
  margin-left: 27vw;
  padding: 15px;
  width: 200px;
  color: #fff;
  background-color: #a5a2a2;
  border: none;
  border-radius: 10px;
}

.hero-content button:hover {
  background-color: #cac8c8;
}

.hero-header {
  margin-left: 47%;
  margin-top: 3vw;
  padding: 10px;
  border: solid 1px black;
  border-bottom: none;
  width: 160px;
}

.hero-decor {
  border-bottom: solid 3px black;
  max-width: 100vw;
  width: 100%;
}

.hero-header {
  color: #fff;
}

body {
  background-color: rgba(98, 98, 100, 0.945);
}

.container {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container h1,
ul {
  margin-top: 5px;
}

div ul li {
  list-style: none;
  display: inline;
  margin: 15px;
}

header {
  background-color: black;
  width: 100%;
  height: 50px;
}

header h1 {
  color: #fff;
}

header li {
  color: #fff;
}

.Tickets {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

.Tickets li {
  margin-left: 55px;
  list-style: none;
  padding: 50px;
  color: #fff;
  background-color: #cac8c8;
  display: none;
}

.Tickets li.active {
  margin-left: 55px;
  list-style: none;
  padding: 50px;
  color: #fff;
  background-color: #cac8c8;
  display: block;
}